@tailwind base;
@tailwind components;
@tailwind utilities;

/* In App.css oder index.css */
.floating-icon {
    animation: subtle-float 6s ease-in-out infinite;
    /* Wichtig: Wenn du andere transform-Eigenschaften direkt auf die Icons
       für die Positionierung anwendest (außerhalb der Animation),
       könnte das die Animation überschreiben.
       Die aktuelle Methode, Positionierung über top/left/right und
       die Animation nur für translateY zu nutzen, ist gut. */
}

@keyframes subtle-float {
    0%, 100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px); /* Oder ein anderer Wert für die Schwebehöhe */
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
    white-space: nowrap; /* Verhindert Zeilenumbrüche, falls die Keywords als einzelne Wörter interpretiert werden sollen */
}